# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

/dilibs
/Objects
/RTE
.clang-format
.clangd
dl_fly.uvoptx
dl_fly.code-workspace
dl_fly.uvguix.30407
dl_fly.uvprojx
EventRecorderStub.scvd

.vscode